<%- include("header") -%>
    <div class="jumbotron">
        <h1 class="display-4">Success!!!</h1>
        <p class="lead">You have successfully <%= value %> our website "Shiksha.com". Explore more!!</p>
        <hr class="my-4">
        <p>Want to login/register with another account. Head over here.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Happy Exploring</a>
        </p>
    </div>
    <%- include("footer") -%>